html { 
  background: url(../../public/img/sky-full-of-stars-and-silhouettes-of-trees-below.jpg) no-repeat center center fixed; 
  background-size: cover;
  overflow: hidden;
}

.circle{
  display: block;
  margin: auto;
  width: 40%;
  height: auto;
}

.circlemin{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-left: -10px;
}

.login{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: white;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px;
  margin: auto;
  background: rgba(0,0,0,1.5);
}

.entra{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  color: white;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 145px;
  margin: auto;
  background: rgba(0,0,0,1.5);
}

.rawcontent{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  background: rgba(0,0,0,1.5);
  display: none;
  padding: 25px;
}

.close{
  position: absolute;
  cursor: pointer;
  line-height: 18px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  
}

.close:hover{
  opacity: .5;
}

form{
  margin-top: 20px;
}

h1{
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
}

h2{
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 32px;
  color: #ddd;
}

a,
input{
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  color: black;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(255,255,255);
}

input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
}


a{
  text-align: center;
  padding: 8px 8px;
  background: rgb(19 201 242 / 55%);
  margin-top: 15px;
}

a:hover{
  color: white;
}

.btnForm{
  text-align: center;
  padding: 8px 8px;
  background: rgb(19 201 242 / 55%);
  margin-top: 15px;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  color: black;
  padding: 8px;
  border-radius: 6px;
  
}

.btnForm:hover{
  color: white;
}
.rawcontentpass{
  position: relative;
  margin: -5px 20px;
}



#remember{
  position: absolute;
  font-size: 13px;
  color: rgba(255,255,255,.5);
  top: 7px;
  left: 20px;
}

#recpass{
  position: absolute;
  font-size: 12px;
  color: rgb(223 230 230 / 70%);
  right: 54px;
  top: 8px;
  cursor: pointer;
}

#recpass:hover{
  color: white;
}

#registro{
  position: absolute;
  font-size: 12px;
  color: rgb(223 230 230 / 70%);
  right: 99px;
  top: 40px;
  cursor: pointer;
}

#registro:hover{
  color: white;
}

.rawcontra{
  position: absolute;
  padding: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  background: rgba(0,0,0,1.5);
  display: none;
} 


.rawregistro{
  position: absolute;
  padding: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background: rgba(0,0,0,1.5);
  display: none;
}   